@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'LED Dot-Matrix';
  font-style: normal;
  font-weight: normal;
  src: local('LED Dot-Matrix'), url('../fonts/led-dot-matrix_woff/LED Dot-Matrix.woff') format('woff');
}

:root {
  scroll-behavior: smooth;
}

.App {
  position: relative;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  transition: all .4s ease-in-out;
  user-select: none;
  font-family: 'LED Dot-Matrix', sans-serif;
  color: white;
  /* background: radial-gradient(#252063, #431c64); */
  /* background: linear-gradient(160deg, #8e2de2 0%, #309df4fe 100%); */
  /* background: linear-gradient(160deg, #8e2de2, #4a00e0); */
  background: linear-gradient(160deg, #662a98, #352f8e);
}

.scene-container {
  cursor: move;
}

.scene-container .scene-tooltip {
  font-family: 'LED Dot-Matrix', sans-serif !important;
  font-weight: 200;
}

/*  disable touch highlighting for mobile screens */
@media only screen and (max-width: 500px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}

@media (min-width: 760px) {
  .TimeZoneList::-webkit-scrollbar {
    width: 6px;
    background-color: #f0f0f025;
    border-radius: 10px;
    opacity: 0;
  }

  .TimeZoneList::-webkit-scrollbar-thumb {
    background-color: #ffffff93;
    border-radius: 10px;
  }
}