.analog {
    position: relative;
}

.analog_clock {
    position: relative;
    width: 14em;
    height: 14em;
    z-index: 100;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 45px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 1s ease-in-out;
    animation: analog_display 1s ease-in-out;
}

@keyframes analog_display0 {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 14em;
        height: 14em;
    }
}

.analog_clock::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    z-index: 2;
}

.hour_hand,
.min_hand,
.sec_hand {
    position: absolute;
    border-radius: 20px;
    transform-origin: bottom;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
    animation: hands_display 1s ease-in-out;
    /* transition: transform .5s ease-in-out; */
}

@keyframes hands_display0 {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hour_hand {
    width: 6px;
    height: 50px;
    top: 27.5%;
    left: 48.7%;
}

.min_hand {
    width: 4px;
    height: 70px;
    top: 18.6%;
    left: 49.1%;
}

.sec_hand {
    width: 2px;
    height: 75px;
    top: 16.3%;
    left: 49.6%;
}

.analog_clock span {
    position: absolute;
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 1;
}

.stick {
    width: 1.5px;
    height: 9px;
    background-color: white;
}

.twelve,
.three,
.six,
.nine {
    animation: digit_display 1s linear;
}

@keyframes digit_display {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.twelve {
    top: 11.5px;
    left: 45.2%;
}

.one {
    top: 12.8%;
    right: 29.1%;
    rotate: 30deg;
}

.two {
    top: 27.8%;
    right: 14.4%;
    rotate: 60deg;
}

.three {
    right: 7.4%;
    top: 44.4%;
}

.four {
    right: 14.5%;
    top: 68.4%;
    rotate: 120deg;
}

.five {
    right: 29.2%;
    top: 83.4%;
    rotate: 150deg;
}

.six {
    bottom: 5%;
    left: 47.8%;
}

.seven {
    left: 29.5%;
    top: 83.5%;
    rotate: 210deg;
}

.eight {
    left: 14.5%;
    top: 68.5%;
    rotate: 240deg;
}

.nine {
    left: 8%;
    top: 44.2%;
}

.ten {
    top: 27.8%;
    left: 14.4%;
    rotate: 300deg;
}

.eleven {
    top: 12.7%;
    left: 29.3%;
    rotate: 330deg;
}