.clock_area {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(160deg, #431c64, #252063);
    /* z-index: 0; */
    transition: all 2s ease-in-out;
    user-select: none;
    border: 2px solid red;
}

.analog, .digital {
    border: 2px solid red;
    width: 34em;
    height: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
}







.circle {
    position: absolute;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    /* animation: circle_color 1s linear; */
    /* animation-fill-mode: both; */
}
/* @keyframes changeColor {
    from {
        background: linear-gradient(to right, #3E8BEB, #75b1fa);
    }
    to {
        background: linear-gradient(to right, #FFEC4D, #FE9230);
    }
} */
.analog .circle {
    top: -47%;
    left: -5%;
    width: 18em;
    height: 18em;
    /* background: linear-gradient(to right, #FFEC4D, #FE9230); */
    background-color: #FE9230;
}
.digital .circle {
    top: 50%;
    left: -12%;
    width: 14em;
    height: 14em;
    /* background: linear-gradient(to right, #3E8BEB, #75b1fa); */
    background-color: #75b1fa;
    /* animation-direction: reverse; */
}







.shape {
    position: absolute;
    transition: all 1s ease-in-out;
}
.analog .shape {
    top: 22%;
    right: 25%;
    rotate: 20deg;
}
.digital .shape {
    top: 10%;
    right: 25%;
    rotate: -45deg;
}
.shape .triangle {
    position: absolute;
    text-align: left;
}
.analog .shape .triangle {
    /* rotate: 20deg; */
}
.digital .shape .triangle {
    /* rotate: 290deg; */
}
.triangle:before, .triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
}
.triangle, .triangle:before, .triangle:after {
    border-top-right-radius: 25%;
    transition: all 1s ease-in-out;
}
.analog .triangle, .analog .triangle:before, .analog .triangle:after {
    width: 11em;
    height: 11em;
    background-color: #F81469;
}
.digital .triangle, .digital .triangle:before, .digital .triangle:after {
    width: 8em;
    height: 8em;
    background-color: #14f895;
}
.triangle {
    transform: rotate(-60deg) skewX(-30deg) scale(1, .866);
}
.triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}
.triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}
