:root {
    --loading_color: #6f9bf5;
}

.progress {
    position: relative;
    width: 38.4px;
    height: 38.4px;
    border-radius: 50%;
    border: 1.9px solid var(--loading_color);
    box-sizing: content-box;
}

.progress:before {
    content: "";
    position: absolute;
    width: 1.9px;
    height: 16.3px;
    top: 3.8px;
    left: 18.2px;
    background: var(--loading_color);
    border-radius: 1px;
    transform-origin: 0.95px 15.8px;
    animation: progress-t59zy9 1.2s linear infinite;
}

.progress:after {
    content: "";
    position: absolute;
    width: 1.9px;
    height: 10.6px;
    top: 9.6px;
    left: 18.2px;
    background: var(--loading_color);
    border-radius: 1px;
    transform-origin: 0.95px 10.1px;
    animation: progress-t59zy9 7.199999999999999s linear infinite;
}

@keyframes progress-t59zy9 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}